<p>create-book works!</p>
title : <input type="text" [(ngModel)]="book.title"> <br>

category : <input type="text" [(ngModel)]="book.category"> <br>

image : <input type="text" [(ngModel)]="book.image"> <br>

price : <input type="text" [(ngModel)]="book.price"> <br>

publisher : <input type="text" [(ngModel)]="book.publisher"> <br>

active : <input type="text" [(ngModel)]="book.active"> <br>

content : <input type="text" [(ngModel)]="book.content"> <br>

<button type="button" (click)="SaveBook()" > save</button>
